<div>
  <div ng-if="isSilly" >SILLY MODE</div>
  <section id="main" class="r-section" >
    <div id="map"></div>

    <h2>Bacon ipsum dolor amet short loin meatloaf spare ribs sausage.</h2>
    <p>Bresaola ball tip meatloaf, jerky brisket pancetta picanha pig biltong pork belly. Leberkas alcatra sausage venison shoulder shank tri-tip landjaeger porchetta. Ham bresaola short ribs chuck. Ball tip pork chop frankfurter doner turkey, porchetta pork belly.</p>
  </section>

  <section id="sidebar" class="r-section" >
    <h2>Shankle sausage pancetta</h2>
    <p>Short loin pork chop turducken ham hock swine ground round bresaola venison pig frankfurter cow meatloaf t-bone picanha brisket. Chicken alcatra chuck, andouille pork belly jowl ribeye.</p>
  </section>

</div>