//noinspection CssUnknownTarget
@import "breakpoint";

$break-mobile: 648px;
$break-smallest: 322px;

@mixin twc-gradient($angle: null, $rgbaColors...) {
  background: -webkit-linear-gradient($angle, $rgbaColors);
  background: linear-gradient($angle, $rgbaColors);
}

body {
  box-sizing: border-box;
  @media screen and (max-width: $break-mobile) {
    margin: 0;
    padding: 0;
  }
}

#sidebar {
  @include twc-gradient(0deg, rgba(0,250,0,0.25), rgba(0,250,0,0));
}
#main {
  @include twc-gradient(0deg, rgba(150,0,0,0), rgba(150,0,0,0.25));
}
#map {
  width: 320px;
  height: 180px;
  background-repeat: no-repeat;
  background-image: url("http://dsx.weather.com/util/image/w/68a62f4e-122e-4c72-91b2-ec9f5024e031.jpg?v=at&w=320&h=180&api=7db9fe61-7414-47b5-9871-e17d87b8b6a0");

  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    background-image: url("//dsx.weather.com/util/image/w/68a62f4e-122e-4c72-91b2-ec9f5024e031.jpg?api=7db9fe61-7414-47b5-9871-e17d87b8b6a0&h=598&w=640&v=at");
  }

  @media screen and (max-width: $break-smallest) {
    width: 314px;
  }
}

.r-section {
  margin: 1px;
  padding: 5px;
  width: 48%;
  min-width: 324px;
  float: left;

  @media screen and (max-width: $break-mobile) {
    width:100%; /*in device emulation mode, 100% is resulting tintoo large a width.*/
    margin: 0;
    float: none;
  }

  @media screen and (max-width: $break-smallest) {
    margin: 0;
    padding: 2px;
    min-width: 320px;
    width: 320px;
    float: none;
  }
}
.header {
  @include twc-gradient(90deg, rgba(0,0,100,0.25), rgba(0,0,100,0));
  font-size: inherit;
  color: black;
  font-weight: bold;
  cursor: hand;
}

.silly {
  @include twc-gradient(90deg, rgba(0,0,100,0), rgba(0,0,100,0.25));
  font-size: xx-large;
  color: red;
}
