body {
  box-sizing: border-box;
}

$break-mobile: 600px;
$break-desktop: 1200px;

#sidebar {
  width:33%;
}
#main {
  width:33%;
}
#map {
  max-width: 100%;
}
.r-section {
  width:33%;
  min-width: 320px;
  float: left;
  padding-right: 7px;
}


