/* line 3, ../sass/styles.scss */
body {
  box-sizing: border-box;
}

/* line 10, ../sass/styles.scss */
#sidebar {
  /*width:33%;*/
}

/* line 13, ../sass/styles.scss */
#main {
  /*width:33%;*/
}

/* line 16, ../sass/styles.scss */
#map {
  width: 320px;
  height: 180px;
  background-repeat: no-repeat;
  background-image: url("http://dsx.weather.com/util/image/w/68a62f4e-122e-4c72-91b2-ec9f5024e031.jpg?v=at&w=320&h=180&api=7db9fe61-7414-47b5-9871-e17d87b8b6a0");
  /*
    @media screen and (max-width: $break-mobile) {
      background-image: url("//dsx.weather.com/util/image/w/68a62f4e-122e-4c72-91b2-ec9f5024e031.jpg?api=7db9fe61-7414-47b5-9871-e17d87b8b6a0&h=598&w=640&v=at");
    }
  */
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  /* line 16, ../sass/styles.scss */
  #map {
    background-image: url("//dsx.weather.com/util/image/w/68a62f4e-122e-4c72-91b2-ec9f5024e031.jpg?api=7db9fe61-7414-47b5-9871-e17d87b8b6a0&h=598&w=640&v=at");
  }
}

/* line 32, ../sass/styles.scss */
.r-section {
  padding-right: 5px;
  width: 49%;
  float: left;
}
@media screen and (max-width: 800px) {
  /* line 32, ../sass/styles.scss */
  .r-section {
    width: 100%;
    float: none;
  }
}
